
@model RestSupplyMVC.ViewModels.CustomerOrderViewModel

@{
    ViewBag.Title = "Generate Customer Order";
}

<h2>Generate Customer Order</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div id="menu-order-group">
            <div class="row">
                <div class="col-xs-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger" data-type="minus" data-field="quant[2]" disabled="disabled">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        @Html.DropDownListFor(x => Model.SelectedMenuItem, Model.MenuItems, htmlAttributes: new {@class = "form-control", id = "MenuItem"})
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" data-type="plus" data-field="quant[2]">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <input type="submit" value="Create" class="btn btn-primary"/>
                @Html.ValidationMessageFor(x => x.SelectedMenuItem, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>
}


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("/Scripts/site.form.dynamic.js")"></script>
}

