@model List<RestSupplyMVC.ViewModels.CustomerOrderViewModel>

@{
    ViewBag.Title = "Customer Orders";
}
<hr/>
    <h4>Customer Orders</h4>
@if (Model.Any())
{
    foreach (var item in Model)
    {
        @Html.HiddenFor(modelItem => item.CustomerOrderId)

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(modelItem => item.KitchenName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.KitchenName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Date)
            </dd>
            <dd>

                @Html.ActionLink("Details", "Details", "CustomerOrder", new { customerOrderId = item.CustomerOrderId }, new { @id = "display-link" }) 
            </dd>
        </dl>
    }
}
else
{
    <tr>
        <td>
            <div class="panel-body">
                <h3 style="color:red;">No available orders!</h3>
            </div>
        </td>
    </tr>
}


