@model RestSupplyMVC.ViewModels.CustomerOrderIndexViewModel

@{
    ViewBag.Title = "Customer Orders";
}
<hr/>
<h2>Customer Orders</h2>
<p align="right">
    @Html.ActionLink("Create New Customer Order", "Create", new { kitchenId = Model.KitchenId },new {@class= "btn btn-primary" })
</p>

@if (Model.CustomerOrdersList.Any())
{
    foreach (var item in Model.CustomerOrdersList)
    {
        @Html.HiddenFor(modelItem => item.CustomerOrderId)

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(modelItem => Model.KitchenName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => Model.KitchenName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Date)
            </dd>
            <dd>

                @Html.ActionLink("Details", "Details", "CustomerOrder", new { customerOrderId = item.CustomerOrderId }, new { @id = "display-link" }) 
            </dd>
        </dl>
    }
}
else
{
    <tr>
        <td>
            <div class="panel-body">
                <h3 style="color:red;">No available orders!</h3>
            </div>
        </td>
    </tr>
}


