@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;

@if (Request.IsAuthenticated)
{
    // Get the user current role
    var userManager = Request.GetOwinContext().GetUserManager<AppUserManager>();
    var userRoles = userManager.GetRoles(User.Identity.GetUserId()).ToList();
    // Get the current user 
    var user = userManager.FindById(User.Identity.GetUserId());

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-nav navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="menu">
            <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Menu <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index", "Suppliers")">Suppliers</a></li>
                <li><a href="@Url.Action("Index", "Kitchens")">Kitchens</a></li>
                <li><a href="@Url.Action("Index", "Ingredients")">Ingredients</a></li>
                <li><a href="@Url.Action("Index", "MenuItems")">Menu</a></li>
                <li><a href="@Url.Action("Navigation", "KitchenIngredients")">Ingredient Amounts</a></li>
                <li><a href="@Url.Action("Navigation", "SupplierOrder")">Supplier Orders</a></li>
                <li><a href="@Url.Action("Navigation", "CustomerOrder")">Customer Orders</a></li>


                @{
                    // Displaying the admin panel option only to admin...
                    if (userRoles.Any(r => r == "Admin"))
                    {
                        <li><a href="@Url.Action("Admin", "UserDashboard")">Admin Dashboard</a></li>
                    }
                }
            </ul>
        </li>

        <li class="menu">
            <a href="@Url.Action("Index", "Manage")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                @{ 
                    // construct the display name
                    string userName = user.Email;

                    if(!string.IsNullOrEmpty(user.FirstName))
                    {
                        userName = user.FirstName + " " + user.LastName;
                    }

                    string displayName = userName + "(" + String.Join(", ", userRoles) + ")";
                }
                @displayName
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("ChangePassword", "Account")">Change Password</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                Log off
            </a>
        </li>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Register", "Account")" id="registerLink">
                Not around here? Sign up
            </a>
        </li>
        <li>
            <a href="@Url.Action("Login", "Account")" id="loginLink">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                Log in
            </a>
        </li>
    </ul>
}
