@model RestSupplyMVC.ViewModels.MenuItemViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuItems</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            <div class="panel-body">
                <table class="table table-striped table-responsive">
                    <tbody>
                        <tr>
                            <td>שם מנה: @Model.Name </ td >
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>חומר גלם</th>
                                            <th>כמות</th>
                                            <th>יחידת מידה</th>
                                        </tr>
                                        
                                        @foreach (var menuItemIngredient in Model.MenuItemIngredients)
                                        {
                                            <tr>
                                                <td>@menuItemIngredient.Name</td>
                                                <td>@menuItemIngredient.Quantity</td>
                                                <td>@menuItemIngredient.Unit</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
