@model RestSupplyMVC.ViewModels.IngredientIndexViewModel

@{
    ViewBag.Title = "Ingredients";
}

<h2>Ingredients</h2>

<p>
    <button style="margin-right:10px" class="btn btn-primary " onclick="addNewOrder()">Add New</button>

</p>
<table class="table">
    <tr>

        <th></th>
    </tr>
    @if (Model.IngredientsList.Count() != 0)
    {
        foreach (var item in Model.IngredientsList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IngredientId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IngredientId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IngredientId })
                </td>
            </tr>
        }
    }
    else
    {
        <div class="panel-body">
            <h3 style="color:red;">No Ingredients!</h3>
        </div>
    }


</table>

<div class="modal fade" id="newOrderModal">
    <div class="modal-dialog modal-lg" style=" width: 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Add New Ingredient</h4>
            </div>
            <form id="NewOrderForm">
                <div class="modal-body">
                    @*Customer Details*@
                    <h5 style="color:#112247"> Ingredient</h5>
                    <hr />
                    <div class="form-horizontal">
                        <input type="hidden" id="Id" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Ingredient Name
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="ingredient" name="ingredient" placeholder="insert name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Unit 
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="unit" name="unit" placeholder="gram, kilo etc." class="form-control" />
                            </div>
                        </div>
                    </div>

                    @*Order Details*@
                    <h5 style="margin-top:10px;color:#112247">Choose Suppliers</h5>
                    <hr />
                    <div class="form-horizontal">
                        <input type="hidden" id="IngredientId" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Add New
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.CreateIngredientViewModel.AllSuppliers, new SelectList(Model.CreateIngredientViewModel.AllSuppliers, "Id", "Name"), "", new { @id = "name", @class = "form-control" })
                            </div>
                        </div>
                        
                        @*
                        הוספת השדות כתובת וטלפון הספק
                        *@
                        <div class="form-group">
                            <div class="col-md-1 col-lg-offset-1">
                                <a id="addToList" class="btn btn-primary">Add To List</a>
                            </div>
                        </div>
                        <table id="detailsTable" class="table">
                            <thead>
                                <tr>
                                    <th style="width:5%"></th> @*hidden SupplierId column*@
                                    <th style="width: 85%"> שם ספק</th>
                                    <th style="width: 10%"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">סגירה</button>
                    <button id="saveIngredient" type="submit" class="btn btn-danger">שמירה</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script>
        //Show Modal.
        function addNewOrder() {
            $("#newOrderModal").modal();
            // Hiding the SupplierId column
            $('table#detailsTable td:nth-child(1),table#detailsTable th:nth-child(1)').hide();
        }
        //Add Multiple Order.
        $("#addToList").click(function (e) {
            e.preventDefault();

            if ($.trim($("#name").val()) == "") return;

            var id = $("#name option:selected").val(),
                name = $("#name option:selected").text(),
                detailsTableBody = $("#detailsTable tbody");

            var productItem = '<tr><td>' + id + '</td><td>' + name + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
            detailsTableBody.append(productItem);

            // Hiding the SupplierId column
            $('table#detailsTable td:nth-child(1),table#detailsTable th:nth-child(1)').hide();

            clearItem();

        });
        //After Add A New Ingredient In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#name option:selected").remove();
        }
        // After Add A New Ingredient In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });
        //After Click Save Button Pass All Data View To Controller For Save Database
        function saveIngredient(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Ingredients/SaveIngredient",
                data: data,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function () {
                    alert("Error!");
                }
            });
        }
        //Collect Multiple Order List For Pass To Controller
        $("#saveIngredient").click(function (e) {
            e.preventDefault();

            var ingredientsArr = [];
            ingredientsArr.length = 0;

            $.each($("#detailsTable tbody tr"), function () {
                ingredientsArr.push({
                    id: $(this).find('td:eq(0)').html()
                });
            });


            var data = JSON.stringify({
                ingredientName: $("#ingredient").val(),
                unit: $("#unit").val(),
                suppliers: ingredientsArr
            });

            $.when(saveIngredient(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });
    </script>
}