@model RestSupplyDB.Models.Kitchen.KitchenIngredients

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KitchenIngredients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IngredientsSet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientsSet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KitchensSet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KitchensSet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimalQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimalQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentQuantity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
