@model RestSupplyDB.Models.Kitchen.KitchenIngredients

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KitchenIngredients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IngredientsSet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientsSet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KitchensSet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KitchensSet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimalQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimalQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentQuantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
