@model RestSupplyMVC.ViewModels.KitchenIngredientIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KitchenIngredientsList.First().IngredientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KitchenIngredientsList.First().IngredientName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.KitchenIngredientsList.First().MinimalQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KitchenIngredientsList.First().CurrentQuantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.KitchenIngredientsList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MinimalQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentQuantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KitchenIngredientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KitchenIngredientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KitchenIngredientId })
        </td>
    </tr>
}

</table>
