@model RestSupplyMVC.ViewModels.UserViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>
    User Dashboard
</h4>


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Reports
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                Some text 2...
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Users
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body" id="usersListContent">
                @{
                    // Check if a user was posted to this view, if so display the user modal edit
                    if(!string.IsNullOrEmpty(Model.Id))
                    {
                        @Html.Action("_SystemUserEdit", "UserDashboard", new { id = Model.Id })
                    }
                }
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="col-md-10">
                            <p>Search a user by an email address</p>
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-primary" formaction='@Url.Action("SearchUsers","UserDashboard")'>Search</button>
                        </div>
                    </div>
                        <p>
                            @Html.ActionLink("Show all registered users", "_SystemUsersList")
                        </p>
                        }
                    </div>
                </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Kitchens
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                Some text 3...
            </div>
        </div>
    </div>
</div>
</div>
